.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.header{
    padding-top: 10px;
    position: relative;
    margin-bottom: -12px;
    z-index: 6;
}
.phone{
    color: #fff;
    font-family: "Lato", sans-serif;
}
.lang{
    position: relative;
    float: right;
}
.langs{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 68px;
    border-radius: 4px;
    background-color: #ffffff;
    text-align: center;
}
.langs li{
    padding: 10px 0;
}
#tariffing-result{
    margin-top: 5px;
    height: 35px;
    margin-bottom: -5px;
}
#tariffing-rate{
    display: inline-block;
    color: #01939a;
    font-size:28px;
}
#tariffing-operator{
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
}
.find-section{
    margin-top: -20px;
    position: relative;
    padding-bottom: 35px;
}
.r-bar{
    position: relative;
    margin-bottom: -145px;
    padding: 0;
    color: #fff;
    z-index: 5;
}
.r-section{
    padding-top: 12em;
}
.free-block{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: #01939a;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
.r-feature-img{
    float: left;
    width: 100%;
    min-height: 155px;
    background-position: center;
    background-repeat: no-repeat;
}
.r-lead{
    font-weight: 300;
}
button.btn.r-white-btn{
    width: initial;
    padding: 0 20px;
    border: none;
    background-color: #fff;
    color: #01939a;
}
.download-link{
    margin-right: 20px;
}
h1.slide-title,
.r-lead p{
    color: #ffffff!important;
}
.r-footer{
    background-color: #088482;
    background: linear-gradient(to right, #76CDD4, #088482);
}
.r-footer-menu{
    display: block;
}
.r-footer-menu li{
    display: inline-block;
    text-transform: uppercase;
}
.r-footer-menu li a.r-menu-link {
    color: #fff;
    font-weight: bold;
}
footer{
    font-family: "Lato", sans-serif;
    color: #fff;
}
footer .list-inline:not(:last-child){
    margin-right: 0;
}
.contact-lead{
    font-size: 14px;
    color: #252525;
}
.tariff-title{
    margin-bottom: 0;
}
h2.tariff-title + form{
    margin-top: 0;
}
.r-switchable h1.r-black{
    color: #252525;
}
.r-background-image-holder{
    height: 95%;
}
.r-switchable{
    padding-top: 55px !important;
    margin-top: -1px;
}
.r-switchable-video{
    padding: 150px 0 !important;
}
.r-switchable a{
    color: #fff;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.r-switchable a:hover{
    opacity: 1;
}
.r-switchable a i{
    display: inline-block;
}
.map{
    border-radius: 6px;
    overflow: hidden;
}
.r-switchable h1,
.r-switchable .r-lead{
    color: #ffffff;
}
.video-title{
    width: 600px;
    margin: 0 auto;
}
.section-name{
    margin-bottom: 50px;
}
input[type].r-white{
    padding: 0 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;
    margin:0;
}
.menu-fix{
    display: none;
    position: fixed;
    background-color: rgba(41,154,154,.85);
    width: 100%;
    height: 70px;
    padding: 10px 0;
    z-index: 20;
}
.menu-fix .menu-horizontal{
    padding-top: 10px;
}
.menu-fix .menu-horizontal li a{
    text-transform: uppercase;}
.menu-fix_logo{
    height: 50px;
}
/*faq page*/
p strong{
    color: inherit;
}
.header-faq{
    background-color: #3eb6bd;
    background: linear-gradient(to right, #8ee3ea, #01939a);
}
.faq-top-bg{
    height: 110px;
    background-color: #3eb6bd;
    background: linear-gradient(to right, #8ee3ea, #01939a);
}
.faq-bg{
    min-height: 700px;
    background: url("../../img/frontend/buben-bg.png") right -45px no-repeat;
}
.breadcrumb{
    padding: 30px 25px 20px 25px;
}
.breadcrumb li{
    display: inline-block;
    color: #cccccc;
}
.breadcrumb li:first-child a{
    color: #01939a;
}
#faq h1.page-name{
    color: #01939a;
}
.question-block{
    border-top: 1px solid #e1e1e1;
}
.question-block:last-child{
    border-bottom: 1px solid #e1e1e1;
}
.question{
    color: #000000;
    font-size: 21px;
    margin: 15px 0;
}
.question .fa{
    padding-right: 20px;
}
.question:hover {
    cursor: pointer;
}
.answer{
    display: none;
    margin-bottom: 15px;
}
.static-gallery{
    margin: 50px 0;
}
/*END faq page*/
/*pop-up*/
.slide-popup{
    display: none;
    position: absolute;
    top: 10% !important;
    left: 50%;
    width: 80%;
    height:400px;
    margin-left: -40%;
    padding: 15px;
    background: #fff url("../../img/frontend/buben-bg.png") right top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 6px;
    text-align: center;
    z-index: 15;
}
#overlay {
    z-index:13;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
/*END pop-up*/
.owl-theme .owl-controls{
    margin-top: -10px;
    margin-bottom: 40px;
}
.owl-theme .owl-controls .owl-page span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: inherit;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #fff;
}
/*************remake theme serpent***********/
.btn--primary, .btn--primary:visited {
    background: #2F9E9F;
    border-color: #2F9E9F;
}
.btn--primary:hover {
    background: #3BA6A8;
}
.imagebg:not(.image--light) h1, .imagebg:not(.image--light) h2, .imagebg:not(.image--light) h3, .imagebg:not(.image--light) h4, .imagebg:not(.image--light) h5, .imagebg:not(.image--light) h6, .imagebg:not(.image--light) p, .imagebg:not(.image--light) ul, .imagebg:not(.image--light) blockquote{
    color: #000000;
}
.imagebg .container{
    z-index: unset;
}
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom) + footer:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom){
    padding: 55px 0;
}
.boxed{
    min-height:320px;
}
section, footer{
    padding: 55px 0;
}
input[type], textarea, select{
    background-color: #fafafa;
    padding-left: 2em;
}
footer:not(.bg--primary):not(.bg--dark) a{
    color: #fff;
}
.social-list{
    display: block;
}
.bar .logo{
    max-height: 64px;
}
.feature-5 .feature__body{
    width: 100%;
}
.menu-horizontal > li > a, 
.menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger{
    color: #fff;
}
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger{
    opacity: 1;
}
footer .menu-horizontal > li:not(:hover) > a,
footer .menu-horizontal > li:not(:hover) > span,
footer .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger{
    opacity: 0.5;
}
.bar .menu-horizontal{
    top: 20px;
}
.feature h4 + p{
    max-width: 100%;
}
/********END remake theme serpent***********/
@media only screen and (max-width: 991px) {
    .menu-fix .menu-horizontal{
        margin-top: -45px;
    }
    .menu-fix .menu-horizontal li{
        display: inline-block;
        margin-right: 15px;
    }
    .r-section{
        padding-top: 19em;
    }
    .r-bar{
        margin-bottom: -155px;
    }
    .map{
        margin-top: 50px;
    }
    footer a.r-menu-link{
        margin-right: 1.23em;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .bar .menu-horizontal.menu-horizontal-faq{
        display: inline-block;
        float: right;
    }
    .boxed{
        min-height: 400px;
    }
}
@media only screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    .feature h4{
        text-align: center;
    }
    .r-feature-img{
        min-height: 90px;
    }
    .form-email{
        margin-top: 50px;
    }
    .video-title{
        width: auto;
    }
    .nav-container{
        position: relative;
        z-index: 5;
        margin-bottom: -250px;
    }
    .bar .menu-horizontal{
        top: -20px;
        text-align: center;
    }
    .bar .menu-horizontal.menu-horizontal-faq {
        top: 10px;
        text-align: right;
    }
    .faq-top-bg{
        height:210px;
    }
}
@media only screen and (max-width: 480px) {
    .bar .menu-horizontal.menu-horizontal-faq{
        display: inline-block;
        float: right;
        text-align: right;
    }
    .menu-fix .menu-horizontal{
        margin-top:0;
        padding-top: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .bar .menu-horizontal{
        top: 0px;
    }
    .r-section {
        padding-top: 20em;
    }
    .download-link{
        display: block;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}